* {
  padding: 0;
  margin: 0;
}

/****************
******Header
******************/
header {
  width: 100%;
}
header img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.nav .logo {
  width: 60%;
  margin: 5px;
}
.nav .logo img {
  width: 150px;
}
.nav .navbar {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
.nav .navbar .search {
  position: relative;
}
.nav .navbar .search input {
  padding: 7px 2px;
  width: 200px;
  border-radius: 10px;
  border: 0;
  background-color: #fff;
  opacity: 0.5;
}
.nav .navbar img {
  width: 30px;
  position: absolute;
  right: 5%;
}

.nav .navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Spartan";
  font-weight: bolder;
}
.background {
  background-color: #c1bdbd;
}

/*********************
*****Media screen
***********************/
@media screen and (max-width: 450px) {
  .nav .logo {
    width: 20%;
  }
  .nav .logo img {
    width: 65px;
  }
  .nav .navbar {
    width: 80%;
  }
  .nav .navbar .search input {
    width: 135px;
  }
  .nav .navbar .search img {
    right: 5%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 765px) {
  .nav .logo {
    width: 30%;
  }
  .nav .navbar {
    width: 70%;
  }
}
@media screen and (max-width: 720px) and (min-width: 540px) {
  .nav .logo {
    width: 30%;
  }
  .nav .logo img {
    width: 120px;
  }
  .nav .navbar {
    width: 70%;
  }
  .nav .navbar .search input {
    width: 150px;
  }
}
@media screen and (max-width: 653px) and (min-width: 280px) {
  .nav .logo {
    width: 20%;
  }
  .nav .navbar {
    width: 80%;
  }
  .nav .navbar .search input {
    width: 75px;
  }
}

/*********************
*****Popular shows
***********************/
.popularshows .text {
  font-family: "Spartan", sans-serif;
  font-size: 50px;
  text-align: center;
}
.popularshows .text h1 {
  font-weight: lighter;
}
.popularshows .line {
  display: flex;
  justify-content: center;
}
.popularshows .line hr {
  width: 50%;
  border: 1px solid #000;
}
/********************
****Movies-grid
*********************/
.movies-grid {
  margin: 30px 10px;
  background-color: #c1bdbd;
}
.movies-grid .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 50px;
}
.movies-grid .grid .grid-item .movie {
  width: 100%;
}
.movies-grid .grid .rating .star {
  display: flex;
  align-items: center;
}
.movies-grid .grid .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
/**********************
********Media screen
***********************/
@media screen and (max-width: 450px) {
  .movies-grid .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 30px;
  }
  .movies-grid .grid .rating {
    width: 100%;
  }
}
@media screen and (max-width: 720px) and (min-width: 540px) {
  .movies-grid .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1024px) and (min-width: 765px) {
  .movies-grid .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
/**********************
********Coming soon
***********************/
.coming-soon {
  margin: 30px 10px;
}
.coming-soon .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 50px;
  margin-top: 40px;
}
.coming-soon .grid .grid-item .movie {
  width: 100%;
}
.coming-soon .grid .rating .star {
  display: flex;
  align-items: center;
}
.coming-soon .grid .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
/**********************
********Media screen
***********************/
@media screen and (max-width: 450px) {
  .coming-soon .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 30px;
  }
  .coming-soon .grid .rating {
    width: 100%;
  }
}
@media screen and (max-width: 720px) and (min-width: 540px) {
  .coming-soon .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1024px) and (min-width: 765px) {
  .coming-soon .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
/**********************
********Footer
***********************/
footer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #000;
  margin: 50px 30px;
}
footer img {
  width: 10%;
  padding: 20px;
}

/*********************
*****Media screen
***********************/
@media screen and (max-width: 450px) {
  footer img {
    width: 25%;
    padding: 15px 5px;
  }
}
